<div class="flex w-full flex-col gap-4 rounded bg-bg p-3">
  <!-- Image -->
  <div class="overflow-hidden rounded">
    <img
      [src]="data.web_assets.capsule_616x353"
      class="aspect-auto h-full w-full"
      [alt]="data.store_name"
    />
  </div>

  <!-- Title -->
  <h3 class="h-14 text-xl font-medium">{{ data.store_name }}</h3>

  <div class="flex justify-between">
    <!-- Platform -->
    <div class="flex items-center text-txt-dim">
      <svg-windows8 class="h-5 w-5" />
    </div>

    <div class="flex items-center gap-4">
      <!-- Price -->
      <app-price-btn-sm [data]="data" />

      @if (buyButton) {
        <!-- Buy Button -->
        <button
          class="h-full rounded bg-secondary p-2 px-6 duration-200 hover:bg-acc-green hover:text-bg"
        >
          {{ data.full_price === 0 ? "Play Now" : "Buy Now" }}
        </button>
      } @else {
        <!-- Wishlist -->
        <app-wishlist-btn [icon]="true" />
      }
    </div>
  </div>
</div>
