<div class="z-10 flex w-full items-center justify-between">
  <!-- Left Part -->
  <div class="flex">
    <div class="flex gap-4">
      <!-- Navigate Buttons -->
      <div class="hidden items-center justify-center text-txt-dim xl:flex">
        <button class="h-8 w-8 duration-200 hover:text-txt">
          <svg-chevron class="" />
        </button>

        <button class="h-8 w-8 rotate-180 duration-200 hover:text-txt">
          <svg-chevron class="" />
        </button>
      </div>

      <!-- Steam Logo -->
      <a href="#" class="flex items-center justify-center gap-2">
        <app-steam-icon class="w-[20px]" />
        <app-steam-font class="w-[59px]" />
      </a>
    </div>

    <!-- Menu -->
    <app-menu class="hidden items-center justify-center gap-8 pl-16 xl:flex" />
  </div>

  <!-- Right Part -->
  <div class="flex gap-2">
    <!-- Friends -->
    <app-friends class="relative hidden sm:flex" />

    <!-- Notifications -->
    <app-notifications class="relative hidden sm:flex" />

    <!-- Profile -->
    <app-profile class="relative hidden sm:flex" />

    <!-- Help / View Buttons -->
    <div class="hidden items-center justify-center pl-8 md:flex">
      <button class="h-full px-2 text-txt-dim duration-200 hover:text-txt">
        Help
      </button>
      <button
        class="flex h-full items-center justify-center gap-1 px-4 text-txt-dim duration-200 hover:text-txt"
      >
        View
        <span class="w-5 -rotate-90"><svg-chevron /></span>
      </button>
    </div>

    <!-- Window Buttons -->
    <app-btns-windows class="hidden items-center justify-center 2xl:flex" />

    <!-- Mobile Button -->
    <div
      class="flex items-center justify-center xl:hidden"
      (click)="toggleMobileMenu()"
    >
      <button class="box-content h-8 w-8 px-4">
        <svg-menu />
      </button>
    </div>
  </div>
</div>

<!-- Menu -->
<app-menu-mobile
  class="absolute right-0 top-0 flex h-screen w-screen justify-end bg-bg bg-opacity-75 backdrop-blur"
  [class.hidden]="hideMobileMenu"
  [class.slide-in-right]="showMobileMenu"
  [class.slide-out-right]="!showMobileMenu"
/>
