<div class="flex justify-between items-center w-full z-10">
  <!-- Left Part -->
  <div class="flex">
    <div class="flex gap-4">
      <!-- Navigate Buttons -->
      <div class="xl:flex hidden text-txt-dim items-center justify-center">
        <button class="w-8 h-8 hover:text-txt duration-200">
          <svg-chevron class="" />
        </button>

        <button class="w-8 h-8 hover:text-txt rotate-180 duration-200">
          <svg-chevron class="" />
        </button>
      </div>

      <!-- Steam Logo -->
      <a href="#" class="flex gap-2 items-center justify-center">
        <app-steam-icon class="w-[20px]" />
        <app-steam-font class="w-[59px]" />
      </a>
    </div>

    <!-- Menu -->
    <app-menu
      class="xl:flex gap-8 pl-16 uppercase font-medium items-center justify-center hidden"
    />
  </div>

  <!-- Right Part -->
  <div class="flex gap-2">
    <!-- Friends -->
    <app-friends class="relative" />

    <!-- Notifications -->
    <app-notifications class="relative" />

    <!-- Profile -->
    <app-profile class="relative" />

    <!-- Help / View Buttons -->
    <div class="pl-8 md:flex items-center justify-center hidden">
      <button class="text-txt-dim hover:text-txt h-full px-2 duration-200">
        Help
      </button>
      <button
        class="text-txt-dim hover:text-txt h-full px-4 flex gap-1 items-center justify-center duration-200"
      >
        View
        <span class="w-5 -rotate-90"><svg-chevron /></span>
      </button>
    </div>

    <!-- Window Buttons -->
    <app-btns-windows class="items-center justify-center hidden 2xl:flex" />

    <!-- Mobile Button -->
    <div
      class="flex items-center justify-center xl:hidden"
      (click)="toggleMobileMenu()"
    >
      <button class="w-8 h-8 px-4 box-content">
        <svg-menu />
      </button>
    </div>
  </div>
</div>

<!-- Menu -->
<app-menu-mobile
  class="absolute bg-bg bg-opacity-95 w-screen h-screen top-0 left-0 flex flex-col pt-16 p-4 pr-8 gap-4 slide-in-left text-right"
  [class.hidden]="hideMobileMenu"
  [class.slide-in-right]="showMobileMenu"
  [class.slide-out-right]="!showMobileMenu"
/>
