<div class="flex w-full max-w-screen-2xl items-center justify-between gap-2">
  <!-- Menu -->
  <div class="flex gap-2">
    <app-btn *ngFor="let link of links" [url]="link.url" [label]="link.label" />
  </div>

  <!-- Right -->
  <div class="flex h-full items-center gap-2">
    <!-- Search -->
    <div
      class="flex h-full max-w-md overflow-hidden rounded bg-bg bg-opacity-20"
    >
      <input
        type="text"
        title="Search"
        placeholder="Search"
        class="h-full flex-grow bg-transparent pl-4 placeholder-secondary"
      />
      <button class="box-content w-6 px-4 text-secondary">
        <svg-search />
      </button>
    </div>

    <!-- Wishlist -->
    <app-btn [label]="'Wishlist'" [url]="'/store/wishlist'" />
    <app-btn [label]="'Cart'" [url]="'/store/cart'" />
    <a
    
      class="box-content h-6 w-6 rounded bg-txt-dim bg-opacity-10 p-2 text-txt-dim duration-200 hover:bg-opacity-25 hover:text-txt"
    >
      <svg-settings />
    </a>
  </div>
</div>
