<!-- Normal Price -->
@if (data.current_price == data.full_price) {
  <div class="flex items-center gap-4">
    <div>
      <p class="text-lg font-medium">$ {{ data.current_price }}</p>
    </div>
  </div>
} @else {
  <!-- Discount Price -->
  <div class="flex items-center gap-4">
    <div class="rounded bg-acc-green p-2 px-4 text-lg font-medium text-bg">
      -{{ discountValue }}%
    </div>
    <div class="flex flex-col">
      <div class="relative -mb-2 font-medium text-bg-hover">
        <div
          class="absolute bottom-0 top-0 m-auto h-[1px] w-full bg-bg-hover"
        ></div>
        $ {{ data.full_price }}
      </div>
      <div class="text-lg font-medium text-acc-green">
        $ {{ data.current_price }}
      </div>
    </div>
  </div>
}
