<div class="bg-store flex h-[6600px] flex-col items-center gap-32">
  <app-hero />
  <div class="flex w-screen max-w-[1380px] flex-col items-center gap-16">
    <!-- Featured -->
    <app-featured [slides]="featuredSlides" class="w-full" />

    <!-- Special Offers -->
    <app-carousel
      [title]="'Special Offers'"
      [slides]="specialOfferSlides"
      class="w-full"
    />

    <!-- Browse Steam -->
    <app-carousel-categories />

    <!-- Free to Play -->
    <app-carousel
      [title]="'Free to Play'"
      [slides]="freeToPlaySlides"
      [buyButton]="true"
      class="w-full"
    />

    <!-- Recently Updated -->
    <app-updates />

    <!-- New & Trending -->
    <app-carousel
      [title]="'New & Trending'"
      [slides]="newTrendingSlides"
      class="w-full"
    />

    <!-- Top Sellers -->
    <app-top-sellers />

    <!-- Under $ 5 -->
    <app-carousel
      [title]="'Under $5'"
      [slides]="underFiveSlides"
      class="w-full"
    />

    <!-- Streaming -->
    <app-streaming />
  </div>
</div>
