<!-- Normal Price -->
@if (data.current_price == data.full_price) {
  <div class="flex items-center gap-4">
    <div>
      <p class="text-sm font-medium">$ {{ data.current_price }}</p>
    </div>
  </div>
}

<!-- Discount Price -->
@if (data.current_price < data.full_price && data.discount_date == undefined) {
  <div class="flex items-center gap-4">
    <div class="rounded bg-acc-green p-2 px-4 text-sm font-bold text-bg">
      -{{ discountValue }}%
    </div>
    <div class="flex flex-col">
      <div class="relative -mb-2 font-medium text-bg-hover">
        <div
          class="absolute bottom-0 top-0 m-auto h-[1px] w-full bg-bg-hover"
        ></div>
        $ {{ data.full_price }}
      </div>
      <div class="text-sm font-medium text-acc-green">
        $ {{ data.current_price }}
      </div>
    </div>
  </div>
}

<!-- Dated Discount Price -->
@if (data.current_price < data.full_price && data.discount_date !== undefined) {
  <div class="flex items-center gap-4">
    <div class="text-right text-sm text-txt-dim max-lg:hidden">
      <p>Until {{ data.discount_date | date: "LLL dd" }}</p>
    </div>

    <div class="rounded bg-acc-green p-2 px-4 text-sm font-bold text-bg">
      -{{ discountValue }}%
    </div>

    <div class="flex flex-col">
      <div class="relative -mb-2 font-medium text-bg-hover">
        <div
          class="absolute bottom-0 top-0 m-auto h-[1px] w-full bg-bg-hover"
        ></div>
        $ {{ data.full_price }}
      </div>
      <div class="text-sm font-medium text-acc-green">
        $ {{ data.current_price }}
      </div>
    </div>
  </div>
}
