<div
  class="flex h-full items-center"
  (mouseenter)="openDropdown()"
  (mouseleave)="closeDropdown()"
>
  <a
    routerLink="{{ url }}"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    class="font-medium uppercase duration-200 hover:text-primary"
    [class.text-primary]="selected"
  >
    {{ label }}
  </a>

  @if (subPages !== undefined) {
    <!-- Dropdown -->
    <div
      class="slide-in-top absolute left-0 top-0 -z-10 pt-10 text-txt"
      [ngClass]="{
        'slide-out-top': !showDropdown,
        'slide-in-top': showDropdown,
        hidden: hideDropdown
      }"
    >
      <div
        class="flex w-56 flex-col overflow-hidden rounded-lg bg-bg-high drop-shadow-lg"
      >
        <a
          *ngFor="let subPage of subPages"
          routerLink="{{ subPage.url }}"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
          class="w-full p-4 px-5 duration-200 hover:bg-bg-hover"
          >{{ subPage.label }}</a
        >
      </div>
    </div>
  }
</div>
