<app-btn-page
  [label]="'Store'"
  [url]="'/store'"
  [subPages]="[
    { label: 'Home', url: '/store' },
    { label: 'Browse', url: '/store/browse' },
    { label: 'Discover', url: '/store/discover' },
    { label: 'Wishlist', url: '/store/wishlist' },
    { label: 'Cart', url: '/store/cart' },
    { label: 'Points Shop', url: '/store/points-shop' },
    { label: 'Gift Cards', url: '/store/gift-card' },
    { label: 'News', url: '/store/news' },
    { label: 'Stats', url: '/store/stats' }
  ]"
  class="relative flex h-full items-center"
/>

<app-btn-page
  [label]="'Community'"
  [url]="'#'"
  [subPages]="[
    { label: 'Home', url: '#' },
    { label: 'Duscussions', url: '#' },
    { label: 'Market', url: '#' },
    { label: 'Workshop', url: '#' },
    { label: 'Broadcasts', url: '#' }
  ]"
  class="relative flex h-full items-center"
/>

<app-btn-page
  [label]="'Ygg'"
  [url]="'#'"
  [subPages]="[
    { label: 'Profile', url: '#' },
    { label: 'Friends & Groups', url: '#' },
    { label: 'Inventory', url: '#' },
    { label: 'Badges', url: '#' }
  ]"
  class="relative flex h-full items-center"
/>

<app-btn-page
  [label]="'Library'"
  [url]="'#'"
  [subPages]="[
    { label: 'Home', url: '#' },
    { label: 'Collections & Groups', url: '#' },
    { label: 'Game Servers', url: '#' },
    { label: 'Activate a Product', url: '#' },
    { label: 'Add a non-Steam Game', url: '#' }
  ]"
  class="relative flex h-full items-center"
/>

<app-btn-page
  [label]="'Downloads'"
  [url]="'#'"
  class="relative flex h-full items-center"
/>
