<app-btn-page
  [label]="'Store'"
  [url]="'#'"
  [subPages]="[{ label: 'Label 1', url: '#' }]"
  class="relative"
/>

<app-btn-page
  [label]="'Community'"
  [url]="'#'"
  [subPages]="[{ label: 'Label 1', url: '#' }]"
  class="relative"
/>

<app-btn-page
  [label]="'Ygg'"
  [url]="'#'"
  [subPages]="[{ label: 'Label 1', url: '#' }]"
  class="relative"
/>

<app-btn-page
  [label]="'Library'"
  [url]="'#'"
  [subPages]="[{ label: 'Label 1', url: '#' }]"
  class="relative"
/>

<app-btn-page
  [label]="'Downloads'"
  [url]="'#'"
  [subPages]="[{ label: 'Label 1', url: '#' }]"
  class="relative"
/>
