<a
  href="#"
  class="text-3xl border-b border-txt-dim border-opacity-30 pb-6 w-full hover:text-primary duration-200"
>
  Store
</a>
<a
  href="#"
  class="text-3xl border-b border-txt-dim border-opacity-30 pb-6 w-full hover:text-primary duration-200"
>
  Community
</a>
<a
  href="#"
  class="text-3xl border-b border-txt-dim border-opacity-30 pb-6 w-full hover:text-primary duration-200"
>
  Ygg
</a>
<a
  href="#"
  class="text-3xl border-b border-txt-dim border-opacity-30 pb-6 w-full hover:text-primary duration-200"
>
  Library
</a>
<a
  href="#"
  class="text-3xl border-b border-txt-dim border-opacity-30 pb-6 w-full hover:text-primary duration-200"
>
  Downloads
</a>
