<div class="flex flex-col gap-8 px-8">
  <h3 class="text-lg font-medium uppercase">Featured</h3>
  <!-- Caroussel -->
  <div
    class="flex w-full rounded bg-bg bg-opacity-20 py-4"
    (mouseenter)="pauseCountdown()"
    (mouseleave)="pauseCountdown()"
  >
    <!-- Arrow Back -->
    <button
      class="flex w-16 items-center justify-center text-txt-dim duration-200 hover:text-txt"
      title="Previous Slide"
      (click)="changeSlide('prev')"
    >
      <p class="w-8"><svg-chevron /></p>
    </button>

    <!-- Content -->
    <ng-container *ngFor="let slide of slides; let i = index">
      <app-game
        class="w-full"
        [class]="{
          'fade-in': fadeIn,
          hidden: i !== currentSlideIndex
        }"
        [data]="slide"
      />
    </ng-container>

    <!-- Arrow Foward -->
    <button
      class="w-16 rotate-180 text-txt-dim duration-200 hover:text-txt"
      title="Next Slide"
      (click)="changeSlide('next')"
    >
      <p class="w-8"><svg-chevron /></p>
    </button>
  </div>

  <!-- Navigator -->
  <div class="flex w-full items-center justify-center gap-2">
    <ng-container *ngFor="let slide of slides; let i = index">
      <button
        class="relative h-3 w-12 overflow-hidden rounded-full bg-bg"
        (click)="changeSlide(i)"
      >
        <div
          class="absolute top-0 h-full rounded-full bg-secondary"
          style="width: {{ progress }}%"
          [hidden]="i !== currentSlideIndex"
        ></div></button
    ></ng-container>
  </div>
</div>
