<div class="flex flex-col gap-8 px-8">
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-medium">Special Offers</h3>
    <button
      class="rounded border border-txt-dim border-opacity-20 p-1 px-4 text-txt-dim duration-200 hover:bg-txt-dim hover:bg-opacity-10"
    >
      See More
    </button>
  </div>
  <!-- Caroussel -->
  <div
    class="flex w-full rounded bg-bg bg-opacity-20 py-4"
    (mouseenter)="pauseCountdown()"
    (mouseleave)="pauseCountdown()"
  >
    <!-- Arrow Back -->
    <button
      class="flex w-16 items-center justify-center text-txt-dim duration-200 hover:text-txt"
      title="Previous Slide"
      (click)="changeSlide('prev')"
    >
      <p class="w-8"><svg-chevron /></p>
    </button>

    <!-- Content -->
    <div class="grid gap-4 md:grid-cols-2 xl:grid-cols-3">
      <app-game class="w-full" [data]="slides[leftSlideIndex]" />
      <app-game class="w-full" [data]="slides[midSlideIndex]" />
      <app-game class="w-full max-lg:hidden" [data]="slides[rightSlideIndex]" />
    </div>

    <!-- Arrow Foward -->
    <button
      class="w-16 rotate-180 text-txt-dim duration-200 hover:text-txt"
      title="Next Slide"
      (click)="changeSlide('next')"
    >
      <p class="w-8"><svg-chevron /></p>
    </button>
  </div>

  <!-- Navigator -->
  <div class="flex w-full items-center justify-center gap-2">
    <ng-container *ngFor="let slide of slides; let i = index">
      <button
        class="relative h-3 w-12 overflow-hidden rounded-full bg-bg"
        (click)="changeSlide(i)"
      >
        <div
          class="absolute top-0 h-full rounded-full bg-secondary"
          style="width: {{ progress }}%"
          [hidden]="i !== leftSlideIndex"
        ></div></button
    ></ng-container>
  </div>
</div>
